.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Currency {
    color: blue; /* Change "your_color" to your desired color */
  }


.plus-button {
display: flex; /* Allow centering of content */
justify-content: center; /* Center content horizontally */
align-items: center; /* Center content vertically */
width: 40px; /* Adjust width as needed */
height: 40px; /* Adjust height as needed */
background-color: green; /* Green color */
border: none; /* Remove default border */
border-radius: 50%; /* Set circle shape */
cursor: pointer; /* Indicate clickable element */
}

